// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.settings-list {
  li {
    margin-bottom: 1rem;
  }

  // Nested settings list
  ul {
    margin-top: 0;

    li {
      margin-bottom: unset;
      margin-top: 0;
    }
  }
}

.settings-section {
  .settings-list {
    margin-left: 1rem;
  }

  h2 {
    font-size: 1rem;
    border-bottom: 1px solid;
  }
}
